body {
  overflow-x: hidden;
}
.banner {
  background-image: url("../../../images/bg.jpg");
  padding-top: 100px;
  padding-bottom: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  color: rgb(0, 0, 0);
}
.banner a {
  text-decoration: none;
  font-weight: bold;
}

.custom-btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 150px;
  cursor: pointer;
  margin-top: 30px;
}
.btn-one {
  color: #fff;
  transition: all 0.5s;
  position: relative;
  background-color: rgb(19, 18, 18);
  border-radius: 10px;
}
.btn-one:hover {
  color: #333;
  transition: all 0.5s;
  position: relative;
  background-color: white;
}
